/* 1.Variables */

:root {
    --primary-color1: #004797;
    --primary_nav-color: white;
    --secondary_nav-line-color: #eb5b25;
    --secondary_nav-bg-color: white;
    --secondary_nav-color: #2187da;
    --offer-bg-color: #c4d4e7;
    --bg-color: #f1f1f1;
    --category-bg-color: white;
    --section-bg-color: white;
    --ad_border-color: #c0b9b9;
    --ad_bg-color: white;
    --search_input-color: #965c5c;
    --presents-bg-color: white;
}

/* 2.Reset / Normalize */

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body {
    font-size: 16px;
    background-color: var(--bg-color);
}

html {
    width: 100vw;
}

body {
    margin: auto;
}



/* 3.Estilos generales */

img,video {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* 4.Layouts principales */

main, header, footer {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: 20px auto;
}

header {
    background-color: #004797;
}

/* 5.Componentes */

.header__container {
    display: flex;
    min-height: 110px;
}

.header__image {
    flex-basis: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.header__content {
    width: 100%;
}

.offer {
    background-color: var(--offer-bg-color);
    position:relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 10px;
}

.offer::before {
    position: absolute;
    top: -199.4px;
    content: "";
    width: 100%;
    height: 200px;
    background-color: var(--offer-bg-color);
}

.primary_nav {
    width: 100%;
}


.primary_nav__ul {
    display: flex;
    margin: 20px;
    width: 100%;
    justify-content: flex-end;
}

.primary_nav__item {
    list-style: none;
    color: var(--primary_nav-color);
    font-size: 0.95rem;
    margin: 0 10px;
    border: 0;
}

.primary_nav__item:last-child {
    margin-right: 50px;
}

.secondary_nav {
    width: 100%;
    background-color: var(--secondary_nav-bg-color);
}

.secondary_nav__ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,auto));
    grid-template-rows: 30px;
    grid-auto-rows: 0px;
    overflow: hidden;
    border-top: 3px solid var(--secondary_nav-line-color);
}

.secondary_nav__item {
    text-align: center;
    list-style: none;
    color: var(--secondary_nav-color);
    /* border-right: 1px solid black; */
    font-weight: 500;
    padding-top: 5px;
    position: relative;
    background-color: transparent;
}

.secondary_nav__item:hover::before {
    width:  100%;
    transition-duration: 0.3s;
}

.secondary_nav__item:hover a{
    position: relative;
    color: var(--primary_nav-color);
    z-index: 50;
}

.secondary_nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--primary-color1);
    transition: width 0.3s;
    z-index: 0;
}

.secondary_nav__item::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(to bottom, transparent 35%, black 35%, black 65%, transparent 65%);
}

.category_figure:hover .category__image{
    transform: scale(1.1);
}

.search_div {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
}

.search_input {
    border-radius: 5px;
    border: 0;
    flex-basis: 500px;
    flex-shrink: 1;
    margin: 0 13vw;
    height: 35px;
    color: var(--search_input-color);
}

.other_info {
    display: flex;
}

.welcome {
    display: flex;
    align-items: center;
    gap: 10px;
}

.welcome__image {
    flex: 1 1 0;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(90px,100px));
    grid-template-rows: repeat(4,minmax(90px,100px));
    gap: 5px;
    flex: 1 1 0;
}

.category_figure {
    background-color: var(--category-bg-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
}

.category_figure:last-child {
   border: 2px solid var(--secondary_nav-line-color);
   position: relative;
}

.category_figure:last-child::before {
    content: "";
    width: 100%;
    position: absolute;
    background-color: var(--secondary_nav-line-color);
    height: 100%;
    opacity: 0.1;
}

.category__image {
    max-width: 65%;
    transition: transform 0.3s;
}

.category__text {
    font-size: 0.8rem;
}

.post_welcome {
    width: 100%;
    margin-top: 50px;
}

.ad {
    width: 100%;
    display: flex;
    height: 40px;
    font-size: 0.95rem;
    background-color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

.ad__item {
    display: flex;
    border-right: 1px dashed black;
    font-size: 0.9rem;
    padding-left: 20px;
}

.ad__img {
    margin-right: 15px;
}

.ad__item:last-child {
    border: none;
}

.ad__item a {
    display: flex;
    align-items: center;
}

.presents {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    background-color: transparent;
    margin: 30px 0;
}


.presents__img {
    border-radius: 5px;
    overflow: hidden;
}

.products {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    position: relative;
    background: transparent;
    z-index: 5;
}

.products::before {
    content: "";
    top: 0;
    left: -30%;
    width: 150vw;
    height: calc(100% + 50px);
    background-color: var(--presents-bg-color);
    position: absolute;
    z-index: -1;
}


.products__upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;


}

.products__upper h2 {
    color: var(--primary-color1);
    font-size: 1.26rem;
}

.products__upper a {
    color: var(--secondary_nav-line-color);
    text-decoration: underline;
}

.products__grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

.products__figure {
    border-radius: 5px;
    overflow: hidden;
}




/* 6.Utilidades o clases auxiliares */

.--m-top-20px {
    margin-top: 20px;
}

@keyframes width_slide {
    from {
        width: 0%;
    }
}

@media (max-width: 1289px) {



    .offer {
        display: none;
    }


}
/* 

@media (max-width: 1007px){

    body {
        font-size: 50px;
    }
} */

